@import '~antd/dist/antd.css';

body {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    36deg,
    rgb(34 193 195 / 47%) 0%,
    rgba(245, 45, 253, 0.0746892507002801) 100%
  );
}

.App {
  text-align: center;
}
